body {
    background-color: gray;
}

.top-categories{
    background-color: lightgray;
    padding: 10vh 2vw;
    text-align: center;
}

.book-container {
    padding: 4vh 2vw;
    display: flex;
    flex-wrap: wrap;
}

.book-container img {
    height: 200px;
}

.card {
    margin: 2vw 3vh;
}

.books-category, .category-contaier{
    padding: 5vh 2vw;
}

.form-container {
    padding: 10vh 10vw;
}

.description-container{
    padding: 2rem 0;
    width: 60%;
    margin: 0 auto;
}

.description-container > div {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    color: lightgray;
    font-weight: bolder;
    font-size: 1.2rem;
}

.description-container > div span {
    margin-left: 2rem;
}

.description-container > div button {
    margin: 0 2rem;
    font-weight: bold;
}
